* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}
.header {
    background: url(img/bg-pattern-intro.svg), linear-gradient(to right,hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    background-size: 1300px,100% 100%;
    background-repeat: no-repeat;
    background-position: right;
    height:450px;
    border-radius: 0 0 0 50px;
    color: white;
    padding: 3% 6% 6% 6%; 
}
button {
    outline: none;
    cursor: pointer;
}
#nav-btns1,#nav-btns2,#nav-btns3 {
    width: 100px;
    height: 100%;
    float: left;
    padding-top: 16px;
    text-align: center;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    color: white;
}
.navbar ul {
    height: 100%;
    text-align: center;
}
.navbar li {
    margin:auto;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar li:hover {
    background-color: gray;
}
#logo {
    float: left;
    margin-right: 50px;
}
.navbar {
    width: 100%;
    height: 20%;
    padding: 10px;
    position: relative;
}
#sign,#log {
    float: right;
}
#sign {
    background-color: white;
    border: 0;
    height: 100%;
    width: 100px;
    margin-left: 10px;
    color: hsl(353, 100%, 62%);
    font-weight: 600;
    border-radius: 50px;
    font-size: 1.05em;
    transition: 0.3s;
}
#sign:hover,#start:hover {
    background-color: rgba(0,0 , 0, 0);
    border: 1px solid white;
    color: white;
}
#sign:active,#log:active,#start:active,#learn:active {
    transform: scale(0.9,0.9);
}
#log {
    background-color: rgba(0,0 , 0, 0);
    border: 0;
    height: 100%;
    width: 100px;
    color: white;
    font-weight: 600;
    border-radius: 50px;
    font-size: 1.05em;
    transition: 0.3s;
}
.header-para {
    width: 100%;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 40px;
}
h1 {
    font-size: 3em;
}
#start{
background-color: white;
    border: 0;
    height: 48px;
    width: 150px;
    margin-left: 36.5%;
    color: hsl(353, 100%, 62%);
    font-weight: 600;
    border-radius: 50px;
    font-size: 1.05em;
    transition: 0.3s;
}
#learn {
    background-color: rgba(0,0 , 0, 0);
    border: 1px solid white;
    height: 48px;
    width: 150px;
    color: white;
    font-weight: 600;
    border-radius: 50px;
    font-size: 1.05em;
    margin-left: 10px;
    transition: 0.3s;
}
#learn:hover {
    background-color: white;
    color: hsl(353, 100%, 62%);
}
#section1 {
    text-align: center;
    height: 500px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 150px;
}
#section3 {
    height: 400px;
    margin-bottom: 150px;
}
#section3>.image {
    width: 40%;
    position: relative;
}
#section3>.image>img {
    position:absolute;
    width: 550px;
    height: 450px;
    right: 23%;
    bottom: -10%;
}
.text,.image {
    margin-top: 50px;
    width: 60%;
    height: 100%;
    float: left;
}
#section1>.image {
    width: 40%;
    background-image: url(img/illustration-editor-desktop.svg);
    background-size: 500px 500px;
    background-repeat: no-repeat;
    background-position: 150px -50px;

}
#section2>.image {
    width: 40%;
    position: relative;
}
#section2>.image>img {
    position: absolute;
    bottom: -10%;
}
#section2>.text{
    color: white;
}

.text {
    text-align: left;
    padding-left: 80px;
    padding-right: 80px;
    line-height: 30px;
    padding-top: 50px;
}
#section2 {
    height: 400px;
    width: 100%;
    background-color: hsl(207, 13%, 34%);
    border-radius: 0 50px 0 50px;
    margin-bottom: 150px;
}
#list1,#list2,#list3 {
    background-color: white;
    color: black;
    height: 0px;
    overflow: hidden;
    width: 130px;
    float: left;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 0 50px gray;
    transition: all 0.3s ease-in-out;
}
#list1 {
    top: 100%;
    left: 15%;
}
#list2 {
    top: 100%;
    left: 23%;
}
#list3 {
    top: 100%;
    left: 33%;
}
ul {
    list-style-type: none;
}
footer{
    background-color: hsl(240, 10%, 16%);
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-radius: 0 50px 0 0; 
    color: white;
    width: 100%;
}
footer li{
    color:hsl(240, 2%, 79%);
    font-weight: 600;
    margin-bottom: 10px;
}
footer h2 {
    margin-bottom: 30px;
}
#footer-logo {
    padding: 40px;
}
#footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
}
#hamburger{
    display: none;
}
#copy{
    color:hsl(240, 2%, 79%);
    font-weight: 600;
}
.open {
    height: 100px !important;
}

@media (max-width:1024px) {
    #section2>.image {
        width: 50%;
        position: relative;
    }
    #section2>.image>img {
        position: absolute;
        bottom: -10%;
    }
    #section2>.text{
        width: 50%;
    }

}
@media (max-width:768px) {
    #section1 {
        text-align: center;
        height: 1300px;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    #section3 {
        height: 800px;
        margin-bottom: 150px;
    }
    #section3>.image {
        width: 100%;
        position: inherit;
    }
    #section3>.image>img {
        position:inherit;
        width: 100%;
        height: 400px;
    }
    .text,.image {
        margin-top: 0px;
        width: 100%;
        height: 50%;
    }
    #section1>.image {
        width: 100%;
        background-image: url(img/illustration-editor-desktop.svg);
        background-size: 380px 380px;
        background-position: 100px -50px;
        background-repeat: no-repeat;
        height: 40%;
    }
    #section2>.image {
        width: 100%;
        position: relative;
    }
    #section2>.image>img {
        position: absolute;
        transform: scale(0.7);
        right: -10%;
    }
    #section2>.text{
        color: white;
        width: 100%;
    }
    
    .text {
        text-align: center;
        padding-left: 70px;
        padding-right: 70px;
        line-height: 30px;
        padding-top: 0px;
    }
    #section2 {
        height: 600px;
        width: 100%;
        background-color: hsl(207, 13%, 34%);
        border-radius: 0 50px 0 50px;
        margin-bottom: 0px;
    }

    #footer-content{
        display: grid;
        grid-template-columns: 1fr;
        padding: 50px;
    }
    footer {
        height: 700px;
    }

}
